body{
	font-size: 16px;
	background-color: white;
	margin: auto;
	padding: auto;
}

head title{
	font-weight: bold;
	font-size: 60px;
}

p{
	font-size: 30px;
	color: blue;
}

.content{
	text-align: center;
}

.header{
	color: #cecece;
	padding: 1px;
}